html{
    background-color: #0E2138;
}
.header{
    margin-top: 70px;
    margin-left: 570px;
}
.word{
    color: white;
}
.want{
    background-color: #0c5772;
    width: 35%;
    height: 300px;
    margin-left: 470px;
    margin-top: 100px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}
.button-83 {
appearance: button;
background-color: transparent;
background-image: linear-gradient(to bottom, #fff, #f8eedb);
border: 0 solid #e5e7eb;
border-radius: .5rem;
box-sizing: border-box;
color: #482307;

cursor: pointer;
display: flex;
font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 100%;
font-weight: 700;
line-height: 24px;
outline: 2px solid transparent;
padding: 1rem 1.5rem;
text-align: center;
text-transform: none;
transition: all .1s cubic-bezier(.4, 0, .2, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button-83:active {
background-color: #f3f4f6;
box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
transform: translateY(0.125rem);
}

.button-83:focus {
box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

button{
    margin-top: 70px;
    margin-left: 90px;
    gap: 10px;
}
h2{
    color: #F3E9E8;margin-left: 20px;
}
.intogame{
    height: 60%;
    margin-top: 60px;
}
.word{
    display: flex;
    gap: 160px;
    margin-left: 200px;
}
span {
    content: "\005F";
}
.guess{
    display: flex;
    margin-top: 14px;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #ecf6f4;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#180808;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    }
    select::-ms-expand {
    display: none;
    }
    .select {
        position: relative;
        display: flex;
        width: 20em;
        height: 3em;
        line-height: 3;
        background: #e4e9e8;
        overflow: hidden;
        border-radius: .25em;
        margin-left: 95px;
        }
        .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #2b2e2e;
        cursor:pointer;
        pointer-events:none;
        transition:.25s all ease;
        }
        .select:hover::after {
        color: #23b499;
        }
        .hint{
            display: flex;
            color: white;
            margin-left: 400px;
        }
        .letter{
            gap: 0px;
            width: 50%;
            margin-left: 70px;
            margin-top: 180px;
        }
        .letter-button {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #ccc;
        cursor: pointer;
        background-color: #f0f0f0;
        border-radius: 5px;
    }
    .letter-button:hover{
        background-color: #85baf7;
    }
    .guessgame{
        display: flex;
    }
    .hangman-game{
        width: 40%;
        margin-top: 70px;
        height: 350px;
        margin-left: 30px;
    }
    .butto{
        display: flex;
    }
    #rule-section{
        background-color: rgb(137, 185, 243);
        color: black;
        width: 35%;
        height: 380px;
        -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    margin-left: 480px;
    margin-top: -350px;
    visibility: hidden;
    }
    .enterword{
        margin-top: 60px;
        width: 50%;
        margin-left: 400px;
    }
    input{
        height: 40px;
        width: 200px;
        margin-left: 240px;
    }

    #check{
        margin-top: 30px;
        margin-left: 290px;
    }
    .win{
        width: 35%;
        height: 300px;
        background-color: rgb(3, 42, 63);
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        border-radius: 70px;
        margin-left: 500px;
        margin-top: -800px;
        visibility: hidden;
    }
    span{
        margin-left: 170px;
    }
    .lost{
        width: 35%;
        height: 350px;
        background-color: rgb(3, 42, 63);
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        border-radius: 70px;
        margin-top: -300px;
        visibility: hidden;
        margin-left: 470px;
    }
    .main{
        margin-top: -440px;
        visibility: hidden;
    }        
